# Node modules
node_modules/

# Build output
dist/
build/

# System files
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite cache
.vite/

# Firebase emulators & functions cache (if used later)
.firebase/
.firebaserc
functions/node_modules/
functions/lib/

# VSCode settings (optional, if team not using same settings)
.vscode/
