.hero{
    position: relative;
}
.rgb{
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 75%);
}
.star{
    position: relative;
    width: 100%;
}
.div-btns{
    display: flex;
    gap: 10px;
    margin-bottom: 50px;
}
